<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable test policies</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.DebugEnabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use Pre-Production Environment</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.UsePPE</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>IntuneMAMPolicy.IntuneIdentityUPN</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Account</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use Sovereign Cloud Beta Environment</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.UseSovCloudBeta</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>App Web Content</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Require Managed Browser</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.ManagedBrowserRequired</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Data Relocation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Prevent iTunes and iCloud backups</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.DataBackupDisabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Allow app to transfer data to</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.AppSharingToLevel</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>Policy Managed Apps</string>
				<string>Any App</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Allow app to receive data from</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.AppSharingFromLevel</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>Policy Managed App</string>
				<string>Any App</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Restrict cut, copy, paste</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.ClipboardSharingLevel</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Titles</key>
			<array>
				<string>Blocked</string>
				<string>Policy Managed Apps</string>
				<string>Policy Managed Apps with Paste In</string>
				<string>Any App</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>Key</key>
			<string>IntuneMAMPolicy.ContactSyncDisabled</string>
			<key>DefaultValue</key>
			<false/>
			<key>Title</key>
			<string>Prevent contacts sync from apps</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>IntuneMAMPolicy.PrintingBlocked</string>
			<key>DefaultValue</key>
			<false/>
			<key>Title</key>
			<string>Prevent printing</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>IntuneMAMPolicy.ThirdPartyKeyboardsBlocked</string>
			<key>DefaultValue</key>
			<false/>
			<key>Title</key>
			<string>Filter out use of Third Party Keyboards</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Prevent &quot;Save As&quot;</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.FileSharingSaveAsDisabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Prevent &quot;Open From&quot;</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.OpenDataIntoOrgDocumentsBlocked</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>If prevent save as is enabled, users can only save to the selected storage services. All other services (listed or unlisted) will be blocked.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>OneDrive for Business</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.SaveLocation1</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Sharepoint</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.SaveLocation2</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Box</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.SaveLocation4</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Dropbox</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.SaveLocation8</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Google Drive</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.SaveLocation16</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Local Storage</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.SaveLocation32</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>If prevent open from is enabled, users can only open from the selected source locations. All other locations (listed or unlisted) will be blocked.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>OneDrive for Business</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.OpenLocation1</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>SharePoint</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.OpenLocation2</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Camera</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.OpenLocation4</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Local Storage</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.OpenLocation8</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Access</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Require PIN</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.PINEnabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow simple PIN</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.SimplePINAllowed</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Disable app pin if MDM enrolled and device PIN is set</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.AppPinDisabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>4</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>IntuneMAMPolicy.PINMinLength</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Minimum PIN length required</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>PIN character required</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.PINCharacterType</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Titles</key>
			<array>
				<string>Any</string>
				<string>Numeric</string>
				<string>Alphanumeric</string>
				<string>Alphanumeric with Symbols</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>5</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>IntuneMAMPolicy.PINNumRetry</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Number of attempts before PIN reset</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>90</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>IntuneMAMPolicy.PINExpiryDays</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Number of days for PIN to expire</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Override Biometric passcode with PIN after timeout</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.NonBioPassTimeOutRequired</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>60</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>IntuneMAMPolicy.NonBioPassTimeout</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Timeout</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable FaceID with PIN</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.FaceIDEnabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable Touch ID with PIN</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.TouchIDEnabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Require corporate credentials</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.AuthenticationEnabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Require device compliance</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.DeviceComplianceEnabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>30</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>IntuneMAMPolicy.AccessRecheckOnlineTimeout</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Timeout</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>720</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>IntuneMAMPolicy.AccessRecheckOfflineTimeout</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Offline Grace Period</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>7.0</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>IntuneMAMPolicy.MinOsVersion</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Min OS Version</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>IntuneMAMPolicy.MinAppVersion</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Min App Version</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>IntuneMAMPolicy.MinSDKVersion</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Min SDK Version</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>IntuneMAMPolicy.MinOsVersionWarning</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Min OS Version Warning</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>1.0</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>IntuneMAMPolicy.MinAppVersionWarning</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Min App Version Warning</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Additional Policies</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Encrypt app data</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.FileEncryptionLevel</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Titles</key>
			<array>
				<string>When device is locked</string>
				<string>When device is locked (except open files)</string>
				<string>After device restart</string>
				<string>Use device settings</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Other Policies</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>ProtectManagedOpenInData</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.ProtectManagedOpenInData</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>ProtectAllIncomingUnknownSourceData</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.ProtectAllIncomingUnknownSourceData</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>EnableOpenInFilter</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.EnableOpenInFilter</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<string>Enabled</string>
				<string>Disabled</string>
			</array>
			<key>Titles</key>
			<array>
				<string>0</string>
				<string>14</string>
			</array>
			<key>Title</key>
			<string>Disable SBIV</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>DefaultValue</key>
			<integer>14</integer>
			<key>Key</key>
			<string>IntuneMAMPolicy.SBIVState</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Application Wipe</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Wipe on next application launch</string>
			<key>Key</key>
			<string>IntuneMAMPolicy.DebugWipeOnLaunchResume</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string>90</string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>IntuneMAMPolicy.PINExpiryDays</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>Number of days after which pin needs to be reset</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>EMM UPN Settings</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>DebugEmmUpn</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>EMM UPN</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>Values</key>
			<array>
				<string>Enabled</string>
				<string>Disabled</string>
			</array>
			<key>Title</key>
			<string>Allowed Account - Enabled/Disabled</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>DebugIntuneMAMAllowedAccountsOnly</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>MAMDebugSettings</string>
	<key>Title</key>
	<string></string>
</dict>
</plist>
